.header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
    background-color: #2D3250;
    color: #F6B17A;
}
p {
    color: #F8FAE5;
}

body {
    background-color: #424769;
    color: #F8FAE5;
    
}

.createdOn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.Intro {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    background-color: #2D3250;
    color:#F8FAE5
}
